html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom,#0079bf 0%, #99ffcc 115%);
  color:white;
  font-family: helvetica;
  margin:0;
  height: 100%;
}

#navigator {
  background-color: #026AA7;
  color: white;
  font-size: 20px;
  padding:0.3em;
}
